.body {
  background: #fff;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.StudentPage__Choices {
  display: flex;
  flex-direction: row;
  min-width: 700px;
  max-width: 90vw;
}
.flexH {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.overflowhidden {
  overflow: hidden;
}
@media only screen and (max-width: 1130px) {
  .container {
    flex-direction: column;
  }
  .StudentPage__Choices {
    flex-direction: column;
  }
}
@media only screen and (max-width: 900px) {
  .StudentPage__Choices {
    flex-direction: column;
  }
}
