.FirstPage__Title {
  font-size: 10vw;
  color: white;
  font-weight: bold;
  position: relative;
  bottom: 20%;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.FirstPage__Codeinput {
  width: clamp(150px, 30vw, 90vw);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  color: rgb(68, 0, 255) ff;
  font-weight: 800;
  margin-bottom: 1rem;
  text-align: center;
}
.FirstPage__Codeinput:focus::placeholder {
  color: transparent;
}
.FirstPage__login,
.FirstPage__login > a {
  color: #e8e8e8;
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
@media only screen and (max-width: 1130px) {
  .FirstPage__Title {
    margin-top: 7vh;
  }
  .FirstPage__Codeinput {
    width: 80vw;
  }
  .FirstPage__login,
  .FirstPage__login > a {
    font-size: 10px;
  }
}
@media only screen and (min-height: 700px) and (max-height: 1130px) {
  .FirstPage__Title {
    margin-top: 15vh;
  }
}
