.Addcours {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-width: 300px;
  align-items: center;
  font-family: raleway;
  font-style: italic;
  font-weight: 500;
  margin: 10px;
}

.Addcours__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px 15px;
  width: clamp(360px, 100%, 100%);
  margin-left: 10%;
  border-radius: 5px;
  background-color: rgba(232, 234, 249, 0.3);
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  backdrop-filter: blur(3px);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}
.Addcours__formelement {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.Addcours__formelement > input {
  flex: 1;
  height: 20px;
  margin: 10px 0px 15px 5px;
  border: 0px;
  padding: 5px 0px;
  text-indent: 10px;
  border-radius: 5px;
  transition: 0.3s all;
}
.Addcours__formelement > input:focus {
  border: 0px;
  outline: none;
  /* box-shadow: 0 0 1px 1px #A49BDA; */
  width: 95%;
}
#file {
  background-color: #a49bda;
  border-radius: 15px;
  width: 30px;
  height: 25px;
  place-self: flex-start;
  margin-left: 2%;
}
.fileinput {
  display: flex;
  align-items: center;
  margin-top: 5px;
  /* gap: 20px; */
}
.filename {
  margin-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.Addcours__progressbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.progress__bar {
  margin-top: 10px;
  width: 90%;
}
.hide {
  display: none;
}
#Uploadbutton {
  width: 150px;
  align-self: center;
  background-color: #a49bda;
  margin-top: 25px;
  color: #fff;
}
@media only screen and (max-width: 1130px) {
  .Addcours {
    /* width: 90%; */
    align-self: center;
  }
  .Addcours__form {
    margin: 0 0;
    padding: 0.9rem 0.5rem 0.9rem 0.5rem;
  }
}
