.Courses {
  font-family: raleway;
  background-color: #e8eaf9;
  /* align-self: center; */
  margin: 10px;
  min-width: 700px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  padding: 10px 0px;
  border-radius: 5px;
  flex: 1;
  box-shadow: 0 2px 12px rgb(32 33 36 / 28%);
}
.Courses > h3 {
  color: #9f9f9f;
  align-self: center;
  font-family: raleway;
  font-size: 2rem;
  font-style: italic;
  font-weight: 800;
  margin: 3px 0px;
}

@media only screen and (max-width: 1130px) {
  .Courses {
    min-width: 0px;
    width: 100%;
    margin: 0;
  }
  .Courses > h3 {
    font-size: 1.5rem;
  }
  .Courses__docsTitle {
    font-size: 0.8rem;
    margin-left: 0.2rem;
  }
  .Courses__docsNote,
  .Courses__docsClassname,
  .Courses__docsDateOfupload {
    font-size: 0.7rem;
  }
  #downloadIcon,
  #VisibiltyIcon {
    font-size: 1.2rem;
  }
  .Courses__docs {
    gap: 0.5rem;
  }
}
