.Courses {
  font-family: raleway;
  background-color: #e8eaf9;
  /* align-self: center; */
  margin: 10px;
  min-width: 700px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  padding: 10px 0px;
  border-radius: 5px;
  /* flex: 1; */
  box-shadow: 0 2px 12px rgb(32 33 36 / 28%);
}
.Courses > h3 {
  color: #9f9f9f;
  align-self: center;
  justify-self: flex-start;
  font-family: raleway;
  font-size: 2rem;
  font-style: italic;
  font-weight: 800;
  margin: 3px 0px;
}
.Courses > span {
  align-self: center;
  margin: 1rem 0 1rem 0;
  font-weight: 600;
}

@media only screen and (max-width: 1130px) {
  .Courses {
    min-width: 0px;
    width: 100%;
    margin: 1rem 1rem 0 0;
    min-height: 20vh;
  }
  .Courses > h3 {
    font-size: 1.5rem;
  }
}
