.Iam {
  display: flex;
  align-items: center;
  overflow: hidden;
  min-width: 526px;
  min-height: 440px;
  margin-left: auto;
  margin-right: auto;
}

.perspective-text {
  color: white;
  font-family: Arial;
  font-size: 58px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  user-select: none; /* Standard */
  cursor: pointer;
}

.perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
  @media only screen and (max-width: 1130px) {
    height: 38px;
  }
}

p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
}

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.337);
}

.perspective-text:hover p {
  transform: translate(0, -50px);
}

.perspective-line:nth-child(1) {
  left: 29px;
}

.perspective-line:nth-child(2) {
  left: 58px;
  background: #f07e6e;
}

.perspective-line:nth-child(3) {
  left: 87px;
  background: #84cdfa;
}

.perspective-line:nth-child(4) {
  left: 116px;
  background: #5ad1cd;
}
@media only screen and (max-width: 1130px) {
  .Iam {
    min-width: 90vw;
    min-height: 35vh;
    margin-top: 0;
  }
  .perspective-text {
    color: white;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
  }
  .perspective-line:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.5);
  }

  .perspective-line:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1);
  }
  .perspective-line:nth-child(1) {
    left: 45px;
    top: 25px;
  }

  .perspective-line:nth-child(2) {
    left: 65px;
    top: 13px;
    background: #f07e6e;
  }

  .perspective-line:nth-child(3) {
    left: 87px;
    background: #84cdfa;
  }

  .perspective-line:nth-child(4) {
    left: 108px;
    top: -13px;
    background: #5ad1cd;
  }
}
